틀린 것 비교

In [1]:
import numpy as np
import pandas as pd

데이터 불러오기

In [2]:
random1_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_model[0, 2, 4]_test.npy')
random2_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_model[1, 3, 6]_test.npy')
random3_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_model[5, 8, 9]_test.npy')
cosine_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_model[3, 4, 5]_test.npy')

소프트 라벨을 하드 라벨로(임계값 = 0,5)

In [3]:
random1_array_hard = np.argmax(random1_array, axis=1)
random2_array_hard = np.argmax(random2_array, axis=1)
random3_array_hard = np.argmax(random3_array, axis=1)
cosine_array_hard = np.argmax(cosine_array, axis=1)

In [4]:
np.save('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_random1.npy', random1_array_hard)
np.save('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_random2.npy', random2_array_hard)
np.save('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_random3.npy', random3_array_hard)
np.save('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_cosine.npy', cosine_array_hard)

In [5]:
random1_array_hard = np.where(random1_array_hard == 0, 1, np.where(random1_array_hard == 1, 2, random1_array_hard))
random2_array_hard = np.where(random2_array_hard == 0, 1, np.where(random2_array_hard == 1, 2, random2_array_hard))
random3_array_hard = np.where(random3_array_hard == 0, 1, np.where(random3_array_hard == 1, 2, random3_array_hard))
cosine_array_hard = np.where(cosine_array_hard == 0, 1, np.where(cosine_array_hard == 1, 2, cosine_array_hard))

unlabeled dataframe

In [6]:
df_unlabeled = pd.read_csv("C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/df_unlabeled.csv")

In [7]:
df_unlabeled

                                                   text  label
0     Bagels are average at best, very stingy here. ...      1
1     The atmosphere is nice and intimate. Our serve...      2
2     Stayed 3 nights at the Grand and it was an abs...      1
3     Looking at past reviews, it appears there has ...      2
4     Apparently there are 7 Beauty Bars? This is th...      2
...                                                 ...    ...
9995  Recently I have been shopping at Sprouts and I...      1
9996  I've been here twice for dinner and once for t...      2
9997  I'm giving Chipotle a 2 only to differentiate ...      1
9998  Went here a couple times liked the homemade le...      2
9999  This review is for their bakery. We have order...      2

[10000 rows x 2 columns]

새로운 열로 추가

In [8]:
df_unlabeled["random1_label"] = random1_array_hard
df_unlabeled["random2_label"] = random2_array_hard
df_unlabeled["random3_label"] = random3_array_hard
df_unlabeled["cosine_label"] = cosine_array_hard

In [14]:
df_unlabeled

,text,label,random1_label,random2_label,random3_label,cosine_label
0,"Bagels are average at best, very stingy here. ...",1,1,1,1,1
1,The atmosphere is nice and intimate. Our serve...,2,2,2,2,2
2,Stayed 3 nights at the Grand and it was an abs...,1,1,1,1,1
3,"Looking at past reviews, it appears there has ...",2,2,2,2,2
4,Apparently there are 7 Beauty Bars? This is th...,2,1,1,1,1
...,...,...,...,...,...,...
9995,Recently I have been shopping at Sprouts and I...,1,2,1,1,1
9996,I've been here twice for dinner and once for t...,2,2,1,2,2
9997,I'm giving Chipotle a 2 only to differentiate ...,1,1,1,1,1
9998,Went here a couple times liked the homemade le...,2,2,2,2,2
9999,This review is for their bakery. We have order...,2,2,2,2,2

라벨이 1(bad)일때, 기준 모델은 1이라고 예측하고, 나머지는 2라고 예측한 값의 수

In [17]:
df_unlabeled.columns

Index(['text', 'label', 'random1_label', 'random2_label', 'random3_label',
       'cosine_label'],
      dtype='object')

In [18]:
random1_bad = df_unlabeled.loc[(df_unlabeled['label'] == 1) & (df_unlabeled['label'] == df_unlabeled['random1_label']), df_unlabeled.columns]
random2_bad = df_unlabeled.loc[(df_unlabeled['label'] == 1) & (df_unlabeled['label'] == df_unlabeled['random2_label']), df_unlabeled.columns]
random3_bad = df_unlabeled.loc[(df_unlabeled['label'] == 1) & (df_unlabeled['label'] == df_unlabeled['random3_label']), df_unlabeled.columns]
cosine_bad = df_unlabeled.loc[(df_unlabeled['label'] == 1) & (df_unlabeled['label'] == df_unlabeled['cosine_label']),df_unlabeled.columns]

In [19]:
columns = df_unlabeled.columns[2:]

In [20]:
columns

Index(['random1_label', 'random2_label', 'random3_label', 'cosine_label'], dtype='object')

In [25]:
random1_bad_count = [0 if i == 'random1_label' else random1_bad[f'{i}'].value_counts().get(2, 0) for i in columns]
random2_bad_count = [0 if i == 'random2_bad' else random2_bad[f'{i}'].value_counts().get(2, 0) for i in columns]
random3_bad_count = [0 if i == 'random3_bad' else random3_bad[f'{i}'].value_counts().get(2, 0) for i in columns]
cosine_bad_count = [0 if i == 'cosine_bad' else cosine_bad[f'{i}'].value_counts().get(2, 0) for i in columns]

In [26]:
model_bad = {"random1" : random1_bad_count,
               "random2" : random2_bad_count,
               "random3" : random3_bad_count,
               "cosine" : cosine_bad_count
               }

In [27]:
model_bad

{'random1': [0, 75, 21, 23],
 'random2': [52, 0, 23, 24],
 'random3': [56, 81, 0, 24],
 'cosine': [42, 66, 8, 0]}

In [32]:
df_model_bad = pd.DataFrame(model_bad).T

In [34]:
df_model_bad.columns = columns

In [35]:
df_model_bad

         random1_label  random2_label  random3_label  cosine_label
random1              0             75             21            23
random2             52              0             23            24
random3             56             81              0            24
cosine              42             66              8             0

라벨이 2(good)일때, 기준 모델은 2라고 예측하고, 나머지는 1이라고 예측한 값의 수

In [37]:
random1_good = df_unlabeled.loc[(df_unlabeled['label'] == 2) & (df_unlabeled['label'] == df_unlabeled['random1_label']), df_unlabeled.columns]
random2_good = df_unlabeled.loc[(df_unlabeled['label'] == 2) & (df_unlabeled['label'] == df_unlabeled['random2_label']), df_unlabeled.columns]
random3_good = df_unlabeled.loc[(df_unlabeled['label'] == 2) & (df_unlabeled['label'] == df_unlabeled['random3_label']), df_unlabeled.columns]
cosine_good = df_unlabeled.loc[(df_unlabeled['label'] == 2) & (df_unlabeled['label'] == df_unlabeled['cosine_label']),df_unlabeled.columns]

In [40]:
random1_good_count = [0 if i == 'random1_label' else random1_good[f'{i}'].value_counts().get(1, 0) for i in columns]
random2_good_count = [0 if i == 'random2_bad' else random2_good[f'{i}'].value_counts().get(1, 0) for i in columns]
random3_good_count = [0 if i == 'random3_bad' else random3_good[f'{i}'].value_counts().get(1, 0) for i in columns]
cosine_good_count = [0 if i == 'cosine_bad' else cosine_good[f'{i}'].value_counts().get(1, 0) for i in columns]

In [41]:
model_good = {"random1" : random1_good_count,
               "random2" : random2_good_count,
               "random3" : random3_good_count,
               "cosine" : cosine_good_count
               }

In [42]:
df_model_good = pd.DataFrame(model_good).T

In [43]:
df_model_good.columns = columns

In [45]:
df_model_good

         random1_label  random2_label  random3_label  cosine_label
random1              0            162            104            50
random2            158              0            123            74
random3            107            130              0             9
cosine             122            150             78             0

In [46]:
models_comparison_writer = pd.ExcelWriter('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/result/models_comparison.xlsx', engine='xlsxwriter')

In [47]:
df_model_good.to_excel(models_comparison_writer, sheet_name='good', index=True)
df_model_bad.to_excel(models_comparison_writer, sheet_name='bad', index=True)

In [48]:
models_comparison_writer.save()

C:\Users\user\AppData\Local\Temp\ipykernel_11628\2258865812.py:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  models_comparison_writer.save()