틀린 것 비교

In [1]:
import numpy as np
import pandas as pd

데이터 불러오기

In [43]:
PVP0_soft_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_PVP0.npy')
PVP1_soft_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_PVP1.npy')
PVP2_soft_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_PVP2.npy')
PVP3_soft_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_PVP3.npy')
PVP4_soft_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_PVP4.npy')
PVP5_soft_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_PVP5.npy')
PVP6_soft_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_PVP6.npy')
PVP7_soft_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_PVP7.npy')
PVP8_soft_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_PVP8.npy')
PVP9_soft_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_PVP9.npy')

In [44]:
random2_soft_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_model[1, 3, 6]_test.npy')
cosine_soft_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/unlabeled_probabilities_model[3, 4, 5]_test.npy')

In [49]:
PVP0_soft_df = pd.DataFrame(PVP0_soft_array)
PVP1_soft_df = pd.DataFrame(PVP1_soft_array)
PVP2_soft_df = pd.DataFrame(PVP2_soft_array)
PVP3_soft_df = pd.DataFrame(PVP3_soft_array)
PVP4_soft_df = pd.DataFrame(PVP4_soft_array)
PVP5_soft_df = pd.DataFrame(PVP5_soft_array)
PVP6_soft_df = pd.DataFrame(PVP6_soft_array)
PVP7_soft_df = pd.DataFrame(PVP7_soft_array)
PVP8_soft_df = pd.DataFrame(PVP8_soft_array)
PVP9_soft_df = pd.DataFrame(PVP9_soft_array)

In [45]:
random2_soft_df = pd.DataFrame(random2_soft_array)
cosine_soft_df = pd.DataFrame(cosine_soft_array)

In [2]:
PVP0_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_PVP0.npy')
PVP1_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_PVP1.npy')
PVP2_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_PVP2.npy')
PVP3_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_PVP3.npy')
PVP4_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_PVP4.npy')
PVP5_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_PVP5.npy')
PVP6_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_PVP6.npy')
PVP7_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_PVP7.npy')
PVP8_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_PVP8.npy')
PVP9_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_PVP9.npy')

In [6]:
PVP0_array = np.where(PVP0_array == 1, 0, np.where(PVP0_array == 2, 1, PVP0_array))
PVP1_array = np.where(PVP1_array == 1, 0, np.where(PVP1_array == 2, 1, PVP1_array))
PVP2_array = np.where(PVP2_array == 1, 0, np.where(PVP2_array == 2, 1, PVP2_array))
PVP3_array = np.where(PVP3_array == 1, 0, np.where(PVP3_array == 2, 1, PVP3_array))
PVP4_array = np.where(PVP4_array == 1, 0, np.where(PVP4_array == 2, 1, PVP4_array))
PVP5_array = np.where(PVP5_array == 1, 0, np.where(PVP5_array == 2, 1, PVP5_array))
PVP6_array = np.where(PVP6_array == 1, 0, np.where(PVP6_array == 2, 1, PVP6_array))
PVP7_array = np.where(PVP7_array == 1, 0, np.where(PVP7_array == 2, 1, PVP7_array))
PVP8_array = np.where(PVP8_array == 1, 0, np.where(PVP8_array == 2, 1, PVP8_array))
PVP9_array = np.where(PVP9_array == 1, 0, np.where(PVP9_array == 2, 1, PVP9_array))

In [3]:
random1_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_random1.npy')
random2_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_random2.npy')
random3_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_random3.npy')
cosine_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_cosine.npy')

In [7]:
PVP7_array

array([0, 1, 0, ..., 0, 0, 1], dtype=int64)

unlabeled dataframe

In [8]:
df_unlabeled = pd.read_csv("C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/df_unlabeled.csv")

새로운 열로 추가

In [10]:
df_unlabeled["random1_label"] = random1_array
df_unlabeled["random2_label"] = random2_array
df_unlabeled["random3_label"] = random3_array
df_unlabeled["pvp0"] = PVP0_array
df_unlabeled["pvp1"] = PVP1_array
df_unlabeled["pvp2"] = PVP2_array
df_unlabeled["pvp3"] = PVP3_array
df_unlabeled["pvp4"] = PVP4_array
df_unlabeled["pvp5"] = PVP5_array
df_unlabeled["pvp6"] = PVP6_array
df_unlabeled["pvp7"] = PVP7_array
df_unlabeled["pvp8"] = PVP8_array
df_unlabeled["pvp9"] = PVP9_array

In [18]:
unlabeled_array = df_unlabeled["label"]

In [19]:
unlabeled_array = np.where(unlabeled_array == 1, 0, np.where(unlabeled_array == 2, 1, unlabeled_array))

In [21]:
df_unlabeled["label"] = unlabeled_array

In [22]:
df_unlabeled

,text,label,random1_label,random2_label,random3_label,cosine_label,pvp0,pvp1,pvp2,pvp3,pvp4,pvp5,pvp6,pvp7,pvp8,pvp9
0,"Bagels are average at best, very stingy here. ...",0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,The atmosphere is nice and intimate. Our serve...,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,Stayed 3 nights at the Grand and it was an abs...,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,"Looking at past reviews, it appears there has ...",1,1,1,1,1,1,1,1,1,0,1,1,0,1,0
4,Apparently there are 7 Beauty Bars? This is th...,1,0,0,0,0,0,0,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Recently I have been shopping at Sprouts and I...,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0
9996,I've been here twice for dinner and once for t...,1,1,0,1,1,0,0,1,1,1,1,0,0,1,0
9997,I'm giving Chipotle a 2 only to differentiate ...,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
9998,Went here a couple times liked the homemade le...,1,1,1,1,1,0,1,1,1,1,1,1,0,1,0
9999,This review is for their bakery. We have order...,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1

In [35]:
t3f16 = df_unlabeled.index[(df_unlabeled['label'] == df_unlabeled['pvp3'])&
    (df_unlabeled['pvp3'] != df_unlabeled['pvp1']) &
                           (df_unlabeled['pvp3'] != df_unlabeled['pvp6'])]

In [36]:
t3f16

Int64Index([   4,   30,   78,  164,  165,  211,  230,  258,  315,  403,
            ...
            9625, 9649, 9713, 9724, 9777, 9780, 9810, 9953, 9969, 9996],
           dtype='int64', length=216)

In [37]:
frm3 = df_unlabeled.index[(df_unlabeled['label'] != df_unlabeled['random2_label'])]

In [38]:
frm3

Int64Index([   4,   30,   71,   78,   83,   99,  130,  164,  190,  211,
            ...
            9649, 9679, 9708, 9713, 9724, 9777, 9810, 9854, 9949, 9996],
           dtype='int64', length=432)

In [39]:
common_indices = t3f16 &frm3

C:\Users\user\AppData\Local\Temp\ipykernel_1228\2321512930.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  common_indices = t3f16 &frm3

In [40]:
common_indices

Int64Index([   4,   30,   78,  164,  211,  230,  258,  315,  403,  450,
            ...
            9553, 9579, 9614, 9625, 9649, 9713, 9724, 9777, 9810, 9996],
           dtype='int64', length=178)

In [48]:
random2_soft_df.loc[common_indices]

             0         1
4     0.616223  0.383778
30    0.636600  0.363400
78    0.524690  0.475310
164   0.632714  0.367286
211   0.560232  0.439768
...        ...       ...
9713  0.616643  0.383357
9724  0.542444  0.457556
9777  0.667499  0.332501
9810  0.641706  0.358294
9996  0.531644  0.468356

[178 rows x 2 columns]

In [50]:
PVP3_soft_df.loc[common_indices]

             0         1
4     0.002260  0.997740
30    0.000543  0.999457
78    0.000915  0.999085
164   0.000751  0.999249
211   0.000988  0.999012
...        ...       ...
9713  0.003289  0.996711
9724  0.001360  0.998640
9777  0.095544  0.904456
9810  0.002292  0.997708
9996  0.000369  0.999631

[178 rows x 2 columns]

In [ ]:
common_indices

In [51]:
cosine_soft_df.loc[common_indices]

             0         1
4     0.661972  0.338028
30    0.083833  0.916167
78    0.009707  0.990293
164   0.037410  0.962590
211   0.115943  0.884057
...        ...       ...
9713  0.421907  0.578093
9724  0.026099  0.973901
9777  0.693822  0.306178
9810  0.348176  0.651824
9996  0.012711  0.987289

[178 rows x 2 columns]

In [54]:
a = df_unlabeled.loc[common_indices]

In [65]:
result = a.index[(a['label'] == a['cosine_label'])]

In [66]:
len(result)

136

In [68]:
cosine_soft_df.loc[result]

             0         1
30    0.083833  0.916167
78    0.009707  0.990293
164   0.037410  0.962590
211   0.115943  0.884057
258   0.396668  0.603332
...        ...       ...
9649  0.234157  0.765844
9713  0.421907  0.578093
9724  0.026099  0.973901
9810  0.348176  0.651824
9996  0.012711  0.987289

[136 rows x 2 columns]

In [13]:
df_wrong_answer_random_1 = df_unlabeled.loc[wrong_answer_random_1]
df_wrong_answer_random_2 = df_unlabeled.loc[wrong_answer_random_2]
df_wrong_answer_random_3 = df_unlabeled.loc[wrong_answer_random_3]
df_wrong_answer_cosine = df_unlabeled.loc[wrong_answer_cosine]

In [14]:
wrong_answer_writer = pd.ExcelWriter('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/result/wrong_answers.xlsx', engine='xlsxwriter')

In [15]:
df_wrong_answer_random_1.to_excel(wrong_answer_writer, sheet_name='random_1', index=True)
df_wrong_answer_random_2.to_excel(wrong_answer_writer, sheet_name='random_2', index=True)
df_wrong_answer_random_3.to_excel(wrong_answer_writer, sheet_name='random_3', index=True)
df_wrong_answer_cosine.to_excel(wrong_answer_writer, sheet_name='cosine', index=True)

In [16]:
wrong_answer_writer.save()

C:\Users\user\AppData\Local\Temp\ipykernel_13488\772461091.py:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  wrong_answer_writer.save()

유사도 기준으로 유사도는 맞았는데, 다른 기준은 틀린 값

In [17]:
df_difference_random_1 = df_unlabeled.loc[(df_unlabeled['label'] == df_unlabeled['cosine_label']) & (df_unlabeled['label'] != df_unlabeled['random1_label']), ['text', 'label','cosine_label','random1_label']]
df_difference_random_2 = df_unlabeled.loc[(df_unlabeled['label'] == df_unlabeled['cosine_label']) & (df_unlabeled['label'] != df_unlabeled['random2_label']), ['text', 'label','cosine_label','random2_label']]
df_difference_random_3 = df_unlabeled.loc[(df_unlabeled['label'] == df_unlabeled['cosine_label']) & (df_unlabeled['label'] != df_unlabeled['random3_label']), ['text', 'label','cosine_label','random3_label']]

In [18]:
different_answer_writer = pd.ExcelWriter('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data_2/result_df/different_answers.xlsx', engine='xlsxwriter')

In [19]:
df_difference_random_1.to_excel(different_answer_writer, sheet_name='random_1', index=True)
df_difference_random_2.to_excel(different_answer_writer, sheet_name='random_2', index=True)
df_difference_random_3.to_excel(different_answer_writer, sheet_name='random_3', index=True)

In [20]:
different_answer_writer.save()

C:\Users\user\AppData\Local\Temp\ipykernel_13488\1482095935.py:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  different_answer_writer.save()

# 유사도만 맞춘 값

In [21]:
only_cosine = df_unlabeled.loc[(df_unlabeled['label'] == df_unlabeled['cosine_label']) &
                               (df_unlabeled['label'] != df_unlabeled['random1_label']) &
                               (df_unlabeled['label'] != df_unlabeled['random2_label']) &
                               (df_unlabeled['label'] != df_unlabeled['random3_label']),
                               ['text', 'label','cosine_label','random1_label', 'random2_label','random3_label']
]

In [22]:
only_cosine

,text,label,cosine_label,random1_label,random2_label,random3_label
779,There were some dishes on the menu that were g...,2,2,1,1,1
1348,This place was pretty good I got there version...,2,2,1,1,1
2970,We had the chicken burrito chimi style. Wasn't...,2,2,1,1,1
3508,Decent Thai place for lunch in downtown Phoeni...,2,2,1,1,1
4913,My family absolutely loves the pizza and wings...,2,2,1,1,1
5691,The hard rock is a decent place to stay. The r...,2,2,1,1,1
6171,"Nice atmosphere, live music, If your a wine bu...",2,2,1,1,1
6458,Very clean. Nice room stayed in a junior suite...,2,2,1,1,1
9015,Considering the options in the food court at t...,2,2,1,1,1

In [23]:
only_cosine_writer = pd.ExcelWriter('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/result/only_cosine.xlsx', engine='xlsxwriter')

In [24]:
only_cosine.to_excel(only_cosine_writer, sheet_name='only_cosine', index=True)

In [25]:
only_cosine_writer.save()

C:\Users\user\AppData\Local\Temp\ipykernel_13488\3780706832.py:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  only_cosine_writer.save()