틀린 것 비교

In [3]:
import numpy as np
import pandas as pd

데이터 불러오기

In [4]:
random1_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_random1.npy')
random2_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_random2.npy')
random3_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_random3.npy')
cosine_array = np.load('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/labeling/hard_label/hard_label_cosine.npy')

In [5]:
random1_array

array([0, 1, 0, ..., 0, 1, 1], dtype=int64)

In [6]:
random1_array = np.where(random1_array == 0, 1, np.where(random1_array == 1, 2, random1_array))
random2_array = np.where(random2_array == 0, 1, np.where(random2_array == 1, 2, random2_array))
random3_array = np.where(random3_array == 0, 1, np.where(random3_array == 1, 2, random3_array))
cosine_array = np.where(cosine_array == 0, 1, np.where(cosine_array == 1, 2, cosine_array))

In [7]:
random1_array

array([1, 2, 1, ..., 1, 2, 2], dtype=int64)

unlabeled dataframe

In [8]:
df_unlabeled = pd.read_csv("C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/df_unlabeled.csv")

In [9]:
df_unlabeled

                                                   text  label
0     Bagels are average at best, very stingy here. ...      1
1     The atmosphere is nice and intimate. Our serve...      2
2     Stayed 3 nights at the Grand and it was an abs...      1
3     Looking at past reviews, it appears there has ...      2
4     Apparently there are 7 Beauty Bars? This is th...      2
...                                                 ...    ...
9995  Recently I have been shopping at Sprouts and I...      1
9996  I've been here twice for dinner and once for t...      2
9997  I'm giving Chipotle a 2 only to differentiate ...      1
9998  Went here a couple times liked the homemade le...      2
9999  This review is for their bakery. We have order...      2

[10000 rows x 2 columns]

새로운 열로 추가

In [10]:
df_unlabeled["random1_label"] = random1_array
df_unlabeled["random2_label"] = random2_array
df_unlabeled["random3_label"] = random3_array
df_unlabeled["cosine_label"] = cosine_array

In [11]:
df_unlabeled

,text,label,random1_label,random2_label,random3_label,cosine_label
0,"Bagels are average at best, very stingy here. ...",1,1,1,1,1
1,The atmosphere is nice and intimate. Our serve...,2,2,2,2,2
2,Stayed 3 nights at the Grand and it was an abs...,1,1,1,1,1
3,"Looking at past reviews, it appears there has ...",2,2,2,2,2
4,Apparently there are 7 Beauty Bars? This is th...,2,1,1,1,1
...,...,...,...,...,...,...
9995,Recently I have been shopping at Sprouts and I...,1,2,1,1,1
9996,I've been here twice for dinner and once for t...,2,2,1,2,2
9997,I'm giving Chipotle a 2 only to differentiate ...,1,1,1,1,1
9998,Went here a couple times liked the homemade le...,2,2,2,2,2
9999,This review is for their bakery. We have order...,2,2,2,2,2

틀린 값 찾기_엑셀로 저장

In [12]:
wrong_answer_random_1 = df_unlabeled.index[df_unlabeled['label'] != df_unlabeled['random1_label']]
wrong_answer_random_2 = df_unlabeled.index[df_unlabeled['label'] != df_unlabeled['random2_label']]
wrong_answer_random_3 = df_unlabeled.index[df_unlabeled['label'] != df_unlabeled['random3_label']]
wrong_answer_cosine = df_unlabeled.index[df_unlabeled['label'] != df_unlabeled['cosine_label']]

In [13]:
df_wrong_answer_random_1 = df_unlabeled.loc[wrong_answer_random_1]
df_wrong_answer_random_2 = df_unlabeled.loc[wrong_answer_random_2]
df_wrong_answer_random_3 = df_unlabeled.loc[wrong_answer_random_3]
df_wrong_answer_cosine = df_unlabeled.loc[wrong_answer_cosine]

In [14]:
wrong_answer_writer = pd.ExcelWriter('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/result/wrong_answers.xlsx', engine='xlsxwriter')

In [15]:
df_wrong_answer_random_1.to_excel(wrong_answer_writer, sheet_name='random_1', index=True)
df_wrong_answer_random_2.to_excel(wrong_answer_writer, sheet_name='random_2', index=True)
df_wrong_answer_random_3.to_excel(wrong_answer_writer, sheet_name='random_3', index=True)
df_wrong_answer_cosine.to_excel(wrong_answer_writer, sheet_name='cosine', index=True)

In [16]:
wrong_answer_writer.save()

C:\Users\user\AppData\Local\Temp\ipykernel_13488\772461091.py:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  wrong_answer_writer.save()

유사도 기준으로 유사도는 맞았는데, 다른 기준은 틀린 값

In [17]:
df_difference_random_1 = df_unlabeled.loc[(df_unlabeled['label'] == df_unlabeled['cosine_label']) & (df_unlabeled['label'] != df_unlabeled['random1_label']), ['text', 'label','cosine_label','random1_label']]
df_difference_random_2 = df_unlabeled.loc[(df_unlabeled['label'] == df_unlabeled['cosine_label']) & (df_unlabeled['label'] != df_unlabeled['random2_label']), ['text', 'label','cosine_label','random2_label']]
df_difference_random_3 = df_unlabeled.loc[(df_unlabeled['label'] == df_unlabeled['cosine_label']) & (df_unlabeled['label'] != df_unlabeled['random3_label']), ['text', 'label','cosine_label','random3_label']]

In [18]:
different_answer_writer = pd.ExcelWriter('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data_2/result_df/different_answers.xlsx', engine='xlsxwriter')

In [19]:
df_difference_random_1.to_excel(different_answer_writer, sheet_name='random_1', index=True)
df_difference_random_2.to_excel(different_answer_writer, sheet_name='random_2', index=True)
df_difference_random_3.to_excel(different_answer_writer, sheet_name='random_3', index=True)

In [20]:
different_answer_writer.save()

C:\Users\user\AppData\Local\Temp\ipykernel_13488\1482095935.py:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  different_answer_writer.save()

# 유사도만 맞춘 값

In [21]:
only_cosine = df_unlabeled.loc[(df_unlabeled['label'] == df_unlabeled['cosine_label']) &
                               (df_unlabeled['label'] != df_unlabeled['random1_label']) &
                               (df_unlabeled['label'] != df_unlabeled['random2_label']) &
                               (df_unlabeled['label'] != df_unlabeled['random3_label']),
                               ['text', 'label','cosine_label','random1_label', 'random2_label','random3_label']
]

In [22]:
only_cosine

,text,label,cosine_label,random1_label,random2_label,random3_label
779,There were some dishes on the menu that were g...,2,2,1,1,1
1348,This place was pretty good I got there version...,2,2,1,1,1
2970,We had the chicken burrito chimi style. Wasn't...,2,2,1,1,1
3508,Decent Thai place for lunch in downtown Phoeni...,2,2,1,1,1
4913,My family absolutely loves the pizza and wings...,2,2,1,1,1
5691,The hard rock is a decent place to stay. The r...,2,2,1,1,1
6171,"Nice atmosphere, live music, If your a wine bu...",2,2,1,1,1
6458,Very clean. Nice room stayed in a junior suite...,2,2,1,1,1
9015,Considering the options in the food court at t...,2,2,1,1,1

In [23]:
only_cosine_writer = pd.ExcelWriter('C:/Users/user/Desktop/논문리뷰/Pattern-Exploiting-Training(PET)/code/testPET - 복사본/data3/result/only_cosine.xlsx', engine='xlsxwriter')

In [24]:
only_cosine.to_excel(only_cosine_writer, sheet_name='only_cosine', index=True)

In [25]:
only_cosine_writer.save()

C:\Users\user\AppData\Local\Temp\ipykernel_13488\3780706832.py:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  only_cosine_writer.save()