# 데이터 랜덤

데이터 불러오기

In [2]:
import numpy as np
import pandas as pd

PVP

0. It was [MASK]. x
1. x All in all, it was [MASK].
2. Just [MASK]!
3. In summary, the restaurant is [MASK].

4. x Taking everything into account, it was [MASK].
5. x To wrap it up, it was [MASK].
6. x Generally, it seems [MASK].
7. x In a nutshell, [MASK].
8. The place had a [MASK] vibe. x
9. Everything gave off a [MASK] impression.x

good

In [4]:
pattern_0 = "It was ___."
pattern_1 = "All in all, it was ___."
pattern_2 = "Just ___!"
pattern_3 = "In summary, the restaurant is ___."
pattern_4 = "Taking everything into account, it was ___."
pattern_5 = "To wrap it up, it was ___."
pattern_6 = "Generally, it seems ___."
pattern_7 = "In a nutshell, ___."
pattern_8 = "The place had a ___ vibe."
pattern_9 = "Everything gave off a ___ impression."

In [6]:
patterns = [
    pattern_0,
    pattern_1,
    pattern_2,
    pattern_3,
    pattern_4,
    pattern_5,
    pattern_6,
    pattern_7,
    pattern_8,
    pattern_9,
]

In [9]:
df_patterns = pd.DataFrame(patterns, columns=["pattern"])

In [10]:
df_patterns

                                       pattern
0                                  It was ___.
1                      All in all, it was ___.
2                                    Just ___!
3           In summary, the restaurant is ___.
4  Taking everything into account, it was ___.
5                   To wrap it up, it was ___.
6                     Generally, it seems ___.
7                          In a nutshell, ___.
8                    The place had a ___ vibe.
9        Everything gave off a ___ impression.

In [13]:
df_patterns_suffle = df_patterns.sample(frac=1, random_state=0)

In [14]:
df_patterns_suffle

                                       pattern
2                                    Just ___!
8                    The place had a ___ vibe.
4  Taking everything into account, it was ___.
9        Everything gave off a ___ impression.
1                      All in all, it was ___.
6                     Generally, it seems ___.
7                          In a nutshell, ___.
3           In summary, the restaurant is ___.
0                                  It was ___.
5                   To wrap it up, it was ___.